.TimelineContainer {
  background-color: rgb(20, 19, 26);
  color: white;
}

.jobIcon {
  width: 48px;
  height: 48px;
}

.transparentIcon {
  width: 24px;
  height: auto;
}

.classButton {
  border-radius: 32px;
  width: 100px;
  background-color: white;
  box-sizing: border-box;
  border: 2px solid gray;
  padding: 4px;
  display: flex;
  align-items: center;
}
