.Lane {
  border: 1px solid grey;
  background-color: rgb(38, 38, 38);
  display: flex;
  align-items: center;
  position: relative;
  overflow: visible;
}

.BossLane {
  padding-left: 64px;
  position: relative;
  width: 100%;
  height: 32px;
}

.filler {
  min-width: 8px;
  height: 48px;
  position: absolute;
  top: 8px;
}

.LaneIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 100;
  background-color: inherit;
  top: 0;
  left: 0;
  border-right: 2px solid gray;
  box-sizing: border-box;
  padding: 8px 7px;
}

.SingleEntity {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.AbilityIcon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
