.timelineNumbers {
  display: flex;
  margin-left: -18px;
  gap: 44px;
}

.tickContainer {
  display: flex;
  width: min-content;
}

.tick {
  box-sizing: border-box;
  border-left: 1px solid gray;
  width: 8px;
}

.tenSeconds {
  height: 18px;
}

.fiveSeconds {
  height: 12px;
}

.oneSecond {
  height: 8px;
}
